<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <my-component></my-component>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp, ref, defineComponent } = Vue;

      const MyComponent = defineComponent({
        template: `
        <div>컴포넌트 데이터: {{data1}}</div>
        <button v-on:click="func1">클릭</button>
        <button v-on:click="func2">클릭2</button>
        `,
        setup() {
          const data1 = ref(200);
          const func1 = () => console.log(data1.value);
          const func2 = () => (data1.value = 1000);

          return {
            data1,
            func1,
            func2,
          };
        },
      });

      const app = createApp({
        components: {
          MyComponent,
        },
        setup() {},
      }).mount("#app");
    </script>
  </body>
</html>
