<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- 복잡한 html code가 있음! -->
      <local-component></local-component>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module">
      import LocalComponent from "./LocalComponent.js";

      const { createApp } = Vue;

      const app = createApp({
        components: {
          LocalComponent,
        },
        setup() {},
      }).mount("#app");
    </script>
  </body>
</html>
